/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-image: url('your-image-url.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
}

/* Header styles */

header h1 {
  animation: fade-in 2s ease;
}

.jumbotron {
  text-align: center;
  border-radius: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  background: none !important;
}

.jumbotron svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: #fff;
  z-index: -1;
}

.display-3 {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}

.lead {
  font-size: 1.2rem;
  color: #000000;
}

.notification {
  /* background-color: #66bb6a; */
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  display: none;
}

.notification span {
  font-weight: bold;
  text-transform: uppercase;
}

.fa-check {
  color: #fff;
}

/* Time block styles */
.time-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.hour {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4e4e4e;
  margin-left: 20px;
}

.description {
  flex: 1;
  height: 80px;
  resize: none;
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 1.1rem;
  color: #4e4e4e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 10px;
}

.description:focus {
  outline: none;
  background-color: #fff;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.saveBtn {
  background: linear-gradient(to right, #882e85, #fc586e, #ff883e);
  color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.saveBtn:hover {
  transform: scale(1.1);
}

.saveBtn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #e233dd, #f70f2e, #fb6305);
  opacity: 0.3;
  border-radius: 10px;
}

.past {
  background-color: #d3d3d3;
  color: #000;
}

.present {
  background-color: #d6453d;
  color: #000;
}

.future {
  background-color: #48be48;
  color: #000;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
